<header [ngClass]="{
  'has-itens':inputListItens.length
}">
  @if (inputListItens.length){
    <h1>My List</h1>
  }
  <div>
    <label class="input-label-text" for="inputValue">
      <input
        [ngClass]="{
          'remove-margin-bottom': inputListItens.length
        }"
        id="inputValue"
        type="text"
        placeholder="Add a new iten"
        autofocus
        (keyup.enter)="focsAndAddItem(inputText.value)"
        #inputText
      />
      <button
        class="btn btn-primary-circle"
        title="Add a new item"
        (click)="focsAndAddItem(inputText.value)"
      >
      </button>
    </label>
  </div>
</header>
