@if (!getListItens().length){
  <div class="container">
    <img ngSrc="assets/img/task-list-null.png" alt="Your list is empty - image" loading="eager" height="166" width="160"/>

    @if (addItem()){
      <button class="btn btn-primary" (click)="addItem.set(false)" >
        Crie uma lista de tarefas
      </button>
    } @else {
      <app-input-add-item [inputListItens]="getListItens()" (outPutListItem)="getInputAndAddItem($event)"/>
    }
  </div>
} @else {
  <app-input-add-item [inputListItens]="getListItens()" (outPutListItem)="getInputAndAddItem($event)"/>

  <main class="container">
    @if (listItensStage('pending').length) {
      <h2>Pending..</h2>
      <app-input-list-item
        [inputListItens]="listItensStage('pending')"
        (outPutUpdateItemCheckbox)="updateItemCheckbox($event)"
      />
    }

    @if (listItensStage('completed').length){
      <h2>Completed</h2>
      <app-input-list-item
        [inputListItens]="listItensStage('completed')"
        (outPutUpdateItemCheckbox)="updateItemCheckbox($event)"/>
    }
  </main>

  <footer>
    <button class="btn btn-danger" (click)="deleteAllItens()">Delete All Itens</button>
  </footer>
}
